body,
html {
    background-color: #fff;
    height: 100%;
    margin: 0;
    padding: 0;
    position: relative;
    overflow-y: auto;
    overflow-x: hidden;
    font-family: 'Montserrat', sans-serif;
}

.navbar-brand {

    margin-bottom: -10px;
    margin-top: 15px;
    margin-right: 6rem;
}

.navbar-nav>li {
    margin-bottom: -16px;
    margin-top: 17px;
    margin-right: .7rem;
    font-size: 15px;


}

b {
    font-weight: bold !important;
}


.view {
    background-image: url('img/back1.png');
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
    width: 100%;
    height: 100vh;
}

.intro1 {
    color: #fff;
    font-size: 85px;
    text-shadow: 2px 2px #D34ED5;
    padding-top: 100px;
    text-align: left;
}

.intro2 {
    color: #fff;
    font-size: 85px;
    text-shadow: 2px 2px #D34ED5;
    text-align: left;
}

.intro3 {
    font-size: 30px;
    color: #fff;
    text-align: left;
}

.bg-light {
    background-color: #fff !important;
}


h1 {
    text-align: center;
}



.jumbo_features {
    background-color: #eae8f5;
    background-size: cover;
    border-radius: 40px;
    width: 65%;
    height: inherit;
    text-align: center;
    padding: 15px;

}




.btn {
    margin-top: 10px;
    background-color: #eae8f5;
    color: black;
    border-radius: 30px;
    padding: 5px 10px;

}

.btn:focus,
.btn:hover,
.btn:active,
.active {
    background-color: #D34ED5;
    color: #fff;
    box-shadow: none;
    border-color: #D34ED5 !important;
}

#img_prev {
    padding-right: 320%;
    margin-right: 50%;

}

#img_next {
    padding-left: 320%;
    margin-left: 50%;

}

#meeting_button {
    margin-top: 30px;
}

.features_title {

    font-size: 11px;
    display: inline-block;
    text-align: left;
    justify-content: center;
    font-weight: bold;

}

.meeting_info {
    margin: 20px 35px;
    font-size: 12.5px;
    display: inline-block;
    text-align: left;
    justify-content: center;
    line-height: 1.3rem;

}

.tasks_info {
    margin: 20px 35px;
    font-size: 12.5px;
    display: inline-block;
    text-align: left;
    justify-content: center;
    line-height: 1.3rem;

}


.view2 {
    background-image: url("img/back2.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    overflow: hidden;
    width: 100%;
    height: 100vh;
}


.integration {
    margin-top: 130px;
    margin-bottom: 25px;
    color: #fff;
}

#content4 {
    margin-top: -180px;
}


.price_container {
    background-color: #eae8f5;
    background-size: cover;
    border-radius: 30px;
    height: 750px;
    margin-top: 30px;
    justify-content: center;
    width: 60%;
}

.card {
    width: 16rem;
    border-radius: 30px;
    height: 630px;
    float: none;
    margin: 0 auto;
}


.card-header {
    height: 45px;
    background-color: #D34ED5;
    color: #fff;
    border-radius: 30px 30px 0px 0px !important;
}

ul {
    text-align: left;
    font-size: 12.5px;
    line-height: 1.1rem;
    justify-content: center;


}

ul.info li {
    display: inline;
}

.content5_items {
    margin-top: 200px;
}

.view3 {
    background-image: url("img/back3.png");
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0;
    overflow: hidden;
    width: 100%;
    min-height: 1057px;
    color: #fff;
}

.form-control {
    border-radius: 20px;
    width: 350px;
}

.form-group {
    margin-bottom: 10px !important;
}

.signupMsg {
    color: #fff;
    font-size: 15px;
    padding: 5px 0px;
    ;
}

#content6 {
    margin-top: -223px;
}

.about {
    text-align: center;
    font-size: 16px;
    margin: 0 90px;
    padding: 0 60px;
}

#content7 {
    margin-bottom: 100px;
}

.footer-copyright.py-2 {
    background-color: #fff !important;
    color: black !important;
}

.apply {
    margin-bottom: 70px;
}

.info {
    font-size: 20px;
}

/* Extra small devices (portrait phones, less than 576px)*/

@media (max-width: 575.98px) {
    .intro {
        text-align: center;
    }
    .intro1 {
        padding-top: 50px;
        font-size: 55px;
    }
    .intro2 {
        font-size: 55px;
    }
    .intro3 {
        font-size: 25px;
    }

    #tasks_button {
        width: 230px;
    }
    #meeting_button {
        width: 230px;
    }
    #info_button {
        width: 160px;
    }

    .jumbo_features {
        width: inherit;
        height: inherit;
    }

    #img_prev {
        display: none;

    }

    #img_next {
        display: none;
    }

    .carousel-control-prev {
        display: none;
    }
    #content4 {
        margin-top: -230px;
    }

    .view2 {
        background-position: center;
    }
    .price_container {
        height: 100%;
        width: 90%;
        background-color: #fff;
    }

    .card {
        width: inherit;
        border-radius: 30px;
        height: inherit;
        float: none;
        margin: 15px auto;
    }

    .card-body {
        width: inherit;
    }

    .signup {
        width: 90%;
    }

    .form-control {
        width: 275px;
    }

    #content6 {
        margin-top: -60px;
    }
    .about {
        margin: auto;
    }
}

/*Small devices (landscape phones, 576px and up)*/

@media (min-width: 576px) and (max-width: 767.98px) {
    .view {

        background-repeat: no-repeat;
        background-size: cover;
        overflow: hidden;
        width: 100%;
        height: 150%;
    }

    #tasks_button {
        width: 230px;
    }
    #meeting_button {
        width: 230px;
    }

    .jumbo_features {
        width: inherit;
        height: inherit;
    }

    #img_prev {
        display: none;

    }

    #img_next {
        display: none;
    }


    .price_container {
        background-color: inherit;
        width: inherit;
        height: inherit;
    }


}

@media (min-width: 600px) and (max-width: 800px) {}

/*Medium devices (tablets, 768px and up)*/

@media (min-width: 768px) and (max-width: 991.98px) {
    .navbar-brand {
        margin: 0px;
    }

    .jumbo_features {
        width: 80%;
        padding: 15px 10px;
    }
    .view2 {
        background-position: center;
    }



    .meeting_info {
        padding-bottom: 0px;
        font-size: 9px;
    }

    .tasks_info {
        padding-bottom: 0px;
        font-size: 9px;
    }

    #tasks_button {
        width: 200px;
    }
    #meeting_button {
        width: 200px;
    }

    #img_prev {
        padding-right: 200%;

    }

    #img_next {
        padding-left: 200%;
    }
    .integration {
        margin-top: 240px;
    }

    #content4 {
        margin-top: -350px;
    }

    .price_container {
        width: 95%;
    }

    .signup {
        width: 95%;
    }
    .card {
        width: 13rem;
        height: 690px;
    }
}

/*Large devices (desktops, 992px and up)*/

@media (min-width: 992px) and (max-width: 1199.98px) {
    .jumbo_features {
        width: 85%;
    }

    #tasks_button {
        width: 230px;
    }
    #meeting_button {
        width: 230px;
    }


    .price_container {
        width: 90%;
    }

    .integration {
        margin-top: 190px;
    }
}

/*Extra large devices (large desktops, 1200px and up)*/

@media (min-width: 1200px) {

    #tasks_button {
        width: 230px;
    }
    #meeting_button {
        width: 230px;
    }
    .price_container {
        background-color: #eae8f5;
        background-size: cover;
        border-radius: 30px;
        height: 750px;
        margin-top: 50px;
        justify-content: center;
        width: 80%;
    }

    .integration {
        margin-top: 140px;

    }
}
